.check-gp {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
input[type="checkbox"] {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.agree_terms {
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: row;
  }
}
